header {
    background: var(--off-white);
    height: 122vh;
    position: relative;
    overflow: hidden;
}

.header-circle {
    position: absolute;
    width: 1289px;
    height: 1290px;
    left: 519px;
    top: -161px;
    background: var(--primary-blue);
    border-radius: 1160px;
}


@media screen and (max-width: 765px) {
    body {
        overflow-x: hidden !important;
    }

    .header-circle {
        left: 299px;
        top: -561px;
    }
}