@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
  --primary-blue: #0560FC;
  --black: #191919;
  --white: #fff;
  --off-white: #f2f2f2;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

